@enotarylog:registry=https://notary.sh/api/v4/packages/npm/
//notary.sh/api/v4/projects/1/packages/npm/:_authToken=${ENL_GITLAB_PERSONAL_ACCESS_TOKEN}
//notary.sh/api/v4/packages/npm/:_authToken=${ENL_GITLAB_PERSONAL_ACCESS_TOKEN}
